{{define "block"}}
 <div>
    <ul>
        <li>{{ .Timestamp }}</li>
        <li>{{ .Hash }}</li>
        {{if .PrevHash }}
        <li>{{ .PrevHash }}</li>
        <li>{{ .Difficulty }}</li>
        <li>{{ .Nonce }}</li>
        {{end}}
    </ul>
    </div>
    <hr />
{{end}}